ollama
chromadb
pdfplumber
langchain
langchain-core
langchain-ollama
langchain-community
langchain_text_splitters
unstructured
unstructured[pdf]
fastembed
pdfplumber
sentence-transformers>=2.7.0
numpy<2
elevenlabs
